:root {
  --primary-color: #99ddcc;
  --secondary-color: #f6f6f6;
  --dark-color: #111111;
  --accent-color: #bfeadf;
  --highlight-color: #73d0b9;
  --white-color: #ffffff;
}

/* Body and Root Styling */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

#root {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Button Styles with Increased Specificity */
button.btn.btn-primary,
a.btn.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border-color: var(--primary-color) !important;
}

button.btn.btn-secondary,
a.btn.btn-secondary {
  background-color: var(--highlight-color) !important;
  color: var(--white-color) !important;
  border-color: var(--highlight-color) !important;
}

button.btn:hover,
a.btn:hover {
  border-color: var(--accent-color) !important;
}
